<h1 align = "center">{{ title }}</h1>
<div class="todoListInput"><input type="text" class="todo-input" placeholder="Add next todo here" [(ngModel)]="todoTitle" (keyup.enter)=addTodo()></div>
<ul align = "center" class = "list-group">
  <li class="list-group-item" [ngClass]="{'done':todo.isDone}" *ngFor="let todo of todoList">
    <div class="view">
      <h5>{{ todo.title }}</h5><br />
      <p>Entered: {{ todo.todoTimeEntered | date: 'MM/dd/yyyy h:mm:ss a' }}</p>
      <p>Finished: {{ todo.todoTimeCompleted | date: 'MM/dd/yyy h:mm:ss a'}}</p>
      <div class="btn-row">
        <button type="button" (click)=completeTodo(todo) class="btn btn-success btn-sm" *ngIf="!todo.isDone">Complete</button>
        <button type="button" (click)=reopenTodo(todo) class="btn btn-warning btn-sm" *ngIf="todo.isDone">Open</button>
        <button type="button" (click)=deleteTodo(todo) class="btn btn-danger btn-sm">Delete</button>
      </div>
    </div>
  </li>
</ul>

<router-outlet></router-outlet>