<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <!-- You will want to change this label later on but for now it can stay as-is -->
          <label for="dateOfBirth">Enter the todo item.</label>
          <div class="input-group">
            <div class="input-group-append">
                <input id="todoItemDesc" class="form-control" placeholder="New Todo Item" [(ngModel)]="todoTitle" name="addNewTodoItem">
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success btn-sm" (click)="yesAddTodo()">Add Item</button>
      <button type="button" class="btn btn-danger btn-sm" (click)="modal.close('Save click')">Cancel</button>
    </div>
  </ng-template>
  
  <button class="btn btn-primary btn-sm" (click)="open(content)">Add Todo Item</button>
  
  <hr>
  
  <!-- <pre>{{closeResult}}</pre> -->